@page
@model Veterinaria.App.Presentacion.Pages.CuidadorModel
@{
  ViewData["Title"] = "Gestión del Cuidador";
}

<style>
  * {
    margin: 0%;
  }

  .contenedor1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

  }

  .btn-add_mascota {
    float: left;
    padding-left: 15px;

  }

  .buscar_mascota {
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
</style>

@* Titulo de la pagina *@
<div class="text-center">
  <h1 class="display-4">Gestión de la Cuidador</h1>
  @* <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a
      href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p> *@
</div>


@* Botón Nuevo *@
<div class="container contenedor1">
  <!-- Botón Nuevo -->
  <div class="btn-add_mascota">
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#nuevo-cuidador-modal">Nuevo</a>
  </div>

  <!-- Campo buscar -->
  <div class=" buscar_mascota ">
    <input type="text" class="form-control" placeholder="Buscar">
    <i class="fas fa-search"></i>
  </div>
</div>

<!-- Tabla listado cuidadores registrados -->
<div class="container ">

  <div class="table-responsive  ">
    <table class="table table-striped ">
      <!-- Titulo del listados en la parte inferior -->
      <caption>Lista de cuidadores registrados</caption>
      
      <!-- Encabezados de la tabla -->
      <thead>
        <tr class="bg-dark" style=" color:white">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <!-- 
          <th scope="col">Edad</th>
          <th scope="col">Dirección</th>
          -->
          <th scope="col">Correo </th>
          <!-- 
          <th scope="col">Direccion Trabajo </th>
          -->
          <th scope="col">Opciones </th>

        </tr>
      </thead>
      <tbody>
        @*
        @foreach (Cuidadorx c in Model.listaCuidadores)
        {
          var i=0;
          <tr>
            <th scope="row">@(i+1)</th>
            <td>@c.Nombre</td>
            <td>@c.Telefono</td>
            <td>@c.Correo</td>
            <td>
              <button class="btn btn-danger" title="Eliminar">
                <i class="far fa-trash-alt"></i>
              </button>
              <button class="btn btn-success" data-toggle="modal" data-target="#ViewModal" title="Visualizar">
                <i class="far fa-eye"></i>
              </button>
              <button class="btn btn-warning" data-toggle="modal" data-target="#EditModal" title="Editar">
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
        }
        *@
        
        @for (int i = 0; i < Model.listaCuidadores.Count; i++)
        {
          Cuidadorx c = Model.listaCuidadores[i];
          <tr>
            <th scope="row">@(i+1)</th>
            <td>@c.Nombre</td>
            <td>@c.Telefono</td>
            <td>@c.Correo</td>
            <td>
              <button class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
              </button>
              <button class="btn btn-success" data-toggle="modal" data-target="#ViewModal">
                <i class="far fa-eye"></i>
              </button>
              <button class="btn btn-warning" data-toggle="modal" data-target="#EditModal">
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
        } 
      </tbody>
    </table>
  </div>
</div>

@* Ventana modal para agregar nuevo cuidador *@
<div>

  <!-- Contenido del Modal -->
  <div class="modal fade" id="nuevo-cuidador-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevo-cuidador-modal">Crear Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* Formulario agregar cuidador *@
          <div>
            <form>
              <div class="form-group">
                <label for="id-nombre-cuidador">Nombre</label>
                <input type="text" class="form-control" id="id-nombre-cuidador" placeholder="Ingrese aquí su nombre completo">
              </div>
              <div class="form-group">
                <label for="id-telefono-cuidador">Telefono</label>
                <input type="tel" class="form-control" id="id-telefono-cuidador" placeholder="Ingrese aquí su número de telefono">
              </div>
              <div class="form-group">
                <label for="id-edad-cuidador">Edad</label>
                <input type="number" class="form-control" id="id-edad-cuidador" placeholder="Ingrese aquí su edad">
              </div>
              <div class="form-group">
                <label for="id-direccion-cuidador">Dirección</label>
                <input type="text" class="form-control" id="id-direccion-cuidador" placeholder="Ingrese aquí la dirección de residencia">
              </div>
              <div class="form-group">
                <label for="id-correo-cuidador">Correo electrónico</label>
                <input type="email" class="form-control" id="id-correo-cuidador" placeholder="Ingrese aquí su correo electrónico">
              </div>
              <div class="form-group">
                <label for="id-contrasena-cuidador">Contraseña</label>
                <input type="password" class="form-control" id="id-contrasena-cuidador" placeholder="Contraseña">
              </div>
              <div class="form-group">
                <label for="id-direccionTrabajo-cuidador">Dirección Trabajo</label>
                <input type="text" class="form-control" id="id-direccionTrabajo-cuidador" placeholder="Ingrese aquí la dirección del trabajo">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-politica-privacidad">
                <label class="form-check-label" for="check-politica-privacidad">Acepto la <a asp-area="" asp-page="/Privacy">Política
                    de
                    privacidad</a>.</p></label>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

@* Ventana modal para editar nuevo cuidador *@
<div>

  <!-- Contenido del Modal -->
  <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditModalLabel">Editar Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* Formulario editar cuidador *@
          <div>
            <form>
              <div class="form-group">
                <label for="id-nombre-cuidador">Nombre</label>
                <input type="text" class="form-control" id="id-nombre-cuidador" placeholder="Ingrese aquí su nombre completo" value=>
              </div>
              <div class="form-group">
                <label for="id-telefono-cuidador">Telefono</label>
                <input type="tel" class="form-control" id="id-telefono-cuidador" placeholder="Ingrese aquí su número de telefono">
              </div>
              <div class="form-group">
                <label for="id-edad-cuidador">Edad</label>
                <input type="number" class="form-control" id="id-edad-cuidador" placeholder="Ingrese aquí su edad">
              </div>
              <div class="form-group">
                <label for="id-direccion-cuidador">Dirección</label>
                <input type="text" class="form-control" id="id-direccion-cuidador" placeholder="Ingrese aquí la dirección de residencia">
              </div>
              <div class="form-group">
                <label for="id-correo-cuidador">Correo electrónico</label>
                <input type="email" class="form-control" id="id-correo-cuidador" placeholder="Ingrese aquí su correo electrónico">
              </div>
              <div class="form-group">
                <label for="id-contrasena-cuidador">Contraseña</label>
                <input type="password" class="form-control" id="id-contrasena-cuidador" placeholder="Contraseña">
              </div>
              <div class="form-group">
                <label for="id-direccionTrabajo-cuidador">Dirección Trabajo</label>
                <input type="text" class="form-control" id="id-direccionTrabajo-cuidador" placeholder="Ingrese aquí la dirección del trabajo">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-politica-privacidad">
                <label class="form-check-label" for="check-politica-privacidad">Acepto la <a asp-area="" asp-page="/Privacy">Política
                    de
                    privacidad</a>.</p></label>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>

@* Ventana modal para visualizar nuevo cuidador *@
<div>

  <!-- Contenido del Modal -->
  <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditModalLabel">Vista Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* Formulario visualización cuidador *@
          <div>
            <div>
              <img
                src="https://concepto.de/wp-content/uploads/2018/08/persona-e1533759204552.jpg"
                alt="" width="250px" height="" style="margin-left: 20px;">
            </div>
            <h6>Nombre:</h6>
            <h6>descripción:</h6>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  window.onload = actualizarLista();
  function actualizarLista() {
             $.ajax(
            {
                type: "GET", // la variable type guarda el tipo de la peticion GET,POST,..
                url: "https://localhost:5001/WeatherForecast", //url guarda la ruta hacia donde se hace la peticion
                data: 'text',
                success: function (datos) { //success es una funcion que se utiliza si el servidor retorna informacion
                    alert(datos);
                },
                dataType: 'text' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
            }
      )
    }
</script>




