@page
@model Veterinaria.App.Presentacion.Pages.CuidadorModel
@{
  ViewData["Title"] = "Gestión del Cuidador";
}

<style>
  * {
    margin: 0%;
  }

  .contenedor1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

  }

  .btn-add_mascota {
    float: left;
    padding-left: 15px;

  }

  .buscar_mascota {
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
</style>

<div class="text-center">
  <h1 class="display-4">Gestión de la Cuidador</h1>
  @* <p>Grupo 28 - Equipo 1 ... Conoce más nuestro proyecto en <a
    href="https://github.com/JorgeVasquez423/VeterinariaMisionTIC2022">GitHub</a>.</p> *@
</div>



<div class="container contenedor1">
  <!-- btn agregar -->
  <div class="btn-add_mascota">
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</a>
  </div>

  <!-- buscar -->
  <div class=" buscar_mascota ">
    <input type="text" class="form-control" placeholder="Buscar">
    <i class="fas fa-search"></i>
  </div>
</div>

<!-- tabla listar -->
<div class="container ">

  <div class="table-responsive  ">
    <table class="table table-striped ">
      <caption>Lista de mascotas</caption>
      <thead>
        <tr class="bg-dark" style=" color:white">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col">Correo</th>
          <th scope="col">Teléfono </th>
          <th scope="col">Opciones </th>


        </tr>
      </thead>
      <tbody>
        @{
          var i = 0;
        }

        @foreach (var c in Model.listaCuidadores)
        {


          <tr>
            <th scope="row">@(i=i+1)</th>
            <td>@c.Nombre</td>
            <td>@c.Direccion</td>
            <td>@c.Correo</td>
            <td>@c.Telefono</td>

            <td style="display:flex;">
              <div style="width:50px;">
                <form method="Post">
                  <button class="btn btn-danger" asp-page-handler="Del" asp-route-IdCuidador="@c.Id" type="submit">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </form>
              </div>

              @* <button class="btn btn-success" data-toggle="modal" data-target="#ViewModal">
                <i class="far fa-eye"></i>
                </button> *@
              <a class="btn btn-success" asp-page="/Cuidador/Cuidador" asp-page-handler="CuidadorConMascotas"
              asp-route-IdCuidador="@c.Id">
                <i class="far fa-eye"></i>
              </a>
              <a class="btn btn-warning" asp-page="/Cuidador/Cuidador" asp-route-IdCuidador="@c.Id">
                <i class="far fa-edit"></i>
              </a>
            </td>
          </tr>


        }
      </tbody>
    </table>
  </div>
</div>

@* modal add mascota *@
<div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* form agregar cuidador *@
          <div>
            <form method="post">
              <div class="form-group">
                <label for="id-nombre-cuidador">Nombre</label>
                <input type="text" class="form-control" id="id-nombre-cuidador" aria-describedby="emailHelp"
                  name="Nombre" placeholder="Ingrese aquí su nombre completo">
                <small id="id-nombre-cuidador-ayuda" class="form-text text-muted">Nombre y apellidos.</small>
              </div>
              <div class="form-group">
                <label for="id-telefono-cuidador">Teléfono</label>
                <input type="tel" class="form-control" id="id-telefono-cuidador" aria-describedby="emailHelp"
                  name="Telefono" placeholder="Ingrese aquí su número de telefono">
                <small id="id-telefono-cuidador-ayuda" class="form-text text-muted">Número de teléfono fijo o
                  celular.</small>
              </div>
              <div class="form-group">
                <label for="id-edad-cuidador">Edad</label>
                <input type="number" class="form-control" id="id-edad-cuidador" aria-describedby="emailHelp" name="Edad"
                  placeholder="Ingrese aquí su edad">
                <small id="id-edad-cuidador-ayuda" class="form-text text-muted">Edad en años</small>
              </div>
              <div class="form-group">
                <label for="id-direccion-cuidador">Dirección</label>
                <input type="text" class="form-control" id="id-direccion-cuidador" aria-describedby="emailHelp"
                  name="Direccion" placeholder="Ingrese aquí la dirección de residencia">
                <small id="id-direccion-cuidador-ayuda" class="form-text text-muted">Dirección completa</small>
              </div>
              <div class="form-group">
                <label for="id-correo-cuidador">Correo electrónico</label>
                <input type="email" class="form-control" id="id-correo-cuidador" aria-describedby="emailHelp"
                  name="Correo" placeholder="Ingrese aquí su correo electrónico">
                <small id="id-correo-cuidador-ayuda" class="form-text text-muted">Correo electrónico activo.</small>
              </div>
              @* <div class="form-group">
                <label for="id-contrasena-cuidador">Contraseña</label>
                <input type="password" class="form-control" id="id-contrasena-cuidador" placeholder="Contraseña">
                </div> *@
              @* <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck">
                <label class="form-check-label" for="exampleCheck">Acepto la <a asp-area="" asp-page="/Privacy">Política
                de
                privacidad</a>.</p></label>
                </div> *@
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" asp-page-handler="Add">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

@* modal Edit Cuidador *@
<div>

  <!-- Modal -->
  <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditModalLabel">Editar Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* form Edit Cuidador *@
          <div>
            <form method="post">
              <input asp-for="@Model.CuidadorDeEdicion.Id" type="hidden" class="form-control" id="Nombre"
                placeholder="name" name="Id">

              <div class="form-group">
                <label for="id-nombre-cuidador">Nombre</label>
                <input asp-for="@Model.CuidadorDeEdicion.Nombre" type="text" class="form-control"
                  id="id-nombre-cuidador" aria-describedby="emailHelp" name="Nombre"
                  placeholder="Ingrese aquí su nombre completo">
                <small id="id-nombre-cuidador-ayuda" class="form-text text-muted">Nombre y apellidos.</small>
              </div>
              <div class="form-group">
                <label for="id-telefono-cuidador">Teléfono</label>
                <input asp-for="@Model.CuidadorDeEdicion.Telefono" type="tel" class="form-control"
                  id="id-telefono-cuidador" aria-describedby="emailHelp" name="Telefono"
                  placeholder="Ingrese aquí su número de telefono">
                <small id="id-telefono-cuidador-ayuda" class="form-text text-muted">Número de teléfono fijo o
                  celular.</small>
              </div>
              <div class="form-group">
                <label for="id-edad-cuidador">Edad</label>
                <input asp-for="@Model.CuidadorDeEdicion.Edad" type="number" class="form-control" id="id-edad-cuidador"
                  aria-describedby="emailHelp" name="Edad" placeholder="Ingrese aquí su edad">
                <small id="id-edad-cuidador-ayuda" class="form-text text-muted">Edad en años</small>
              </div>
              <div class="form-group">
                <label for="id-direccion-cuidador">Dirección</label>
                <input asp-for="@Model.CuidadorDeEdicion.Direccion" type="text" class="form-control"
                  id="id-direccion-cuidador" aria-describedby="emailHelp" name="Direccion"
                  placeholder="Ingrese aquí la dirección de residencia">
                <small id="id-direccion-cuidador-ayuda" class="form-text text-muted">Dirección completa</small>
              </div>
              <div class="form-group">
                <label for="id-correo-cuidador">Correo electrónico</label>
                <input asp-for="@Model.CuidadorDeEdicion.Correo" type="email" class="form-control"
                  id="id-correo-cuidador" aria-describedby="emailHelp" name="Correo"
                  placeholder="Ingrese aquí su correo electrónico">
                <small id="id-correo-cuidador-ayuda" class="form-text text-muted">Correo electrónico activo.</small>
              </div>
              @* <div class="form-group">
                <label for="id-contrasena-cuidador">Contraseña</label>
                <input type="password" class="form-control" id="id-contrasena-cuidador" placeholder="Contraseña">
                </div> *@
              @* <div class="form-check">
                <input asp-for="@Model.CuidadorDeEdicion." type="checkbox" class="form-check-input" id="exampleCheck">
                <label class="form-check-label" for="exampleCheck">Acepto la <a asp-area="" asp-page="/Privacy">Política
                de
                privacidad</a>.</p></label>
                </div> *@
              <div class="modal-footer">
                @if (Model.modoEdicion == "edicion")
                {
                  <button class="btn btn-primary" asp-page-handler="Edit">Guardar</button>

                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

@* modal view <o> Cuidador *@
<div>

  <!-- Modal -->
  <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditModalLabel">Vista Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @* vista Cuidador *@
          <div>
            @* <div>
              <img src="https://concepto.de/wp-content/uploads/2018/08/persona-e1533759204552.jpg" alt="" width="250px"
                height="" style="margin-left: 20px;">
            </div> *@

            


            <div class="card" style="width: 26rem;">
              <img class="card-img-top" src="https://concepto.de/wp-content/uploads/2018/08/persona-e1533759204552.jpg"
                alt="Card image cap">
              <div class="card-body">
                

                @if (Model.bandera == 1)
                {

                  @if (Model.CuidadorConMascotas.Mascotas != null)
                  {

                    i = 0;
                    <h5  class="card-title">@Model.CuidadorConMascotas.Nombre</h5>

                    foreach (var m in Model.CuidadorConMascotas.Mascotas)
                    {
                      <div >
                        <h6>
                          Mascota @(i=i+1)
                        </h6>
                        <p>Nombre: @m.Nombre</p>
                        <p>Edad: @m.Edad</p>
                        <p>Especie @m.Especie</p><hr>
                        
                      </div>



                }

              }

            }
                
                
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
              </div>
            </div>

            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>

@* @if (Model.bandera == 1)
  {

  @if (Model.CuidadorConMascotas.Mascotas != null)
  {
  foreach (var m in Model.CuidadorConMascotas.Mascotas)
  {
  <label for="">@m.Nombre</label>
  <label for="">@m.Edad</label>
  <label for="">@m.Raza</label>
  <label for="">@m.Especie</label>


  }

  }

  } *@



@* @Model.x *@

@* @foreach (var m in Model.CuidadorConMascotas.Mascotas){

  //Console.WriteLine(m.Nombre);
  @m.Nombre;
  <label for="">@m.Nombre</label>
  @Model.x


  } *@

@if (Model.modoEdicion == "edicion")
{
  <script>
    $(document).ready(function () {
      $('#EditModal').modal('toggle')
    });
  </script>

}

@if (Model.bandera == 1)
{
  <script>
    $(document).ready(function () {
      $('#ViewModal').modal('toggle')
    });
  </script>

}
